.profile-header {
    padding-top: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;

    .attach-btn {
        position: absolute;
        transition: all 0.15s;
        cursor: pointer;

        svg {
            font-size: 24px;
            fill: white;

            &:hover {
                filter: drop-shadow(0 0 2px white);
            }
        }

        &-active {
            svg {
                fill: #39FF14;
                filter: drop-shadow(0 0 2px #39FF14);

                &:hover {
                    filter: drop-shadow(0 0 2px #39FF14);
                }
            }
        }

        input {
            display: none;
        }

        &.profile {
            top: 41px;
            right: 36px;
        }

        &.background {
            top: 50%;
            left: 50%;
        }
    }

    &__bg {
        width: 100%;
        height: 200px;
        vertical-align: bottom;
        background-color: #ececec;
        position: relative;
        display: flex;
        justify-content: center;
        overflow-y: hidden;

        img {
            width: 1024px;
            height: 200px;
            flex: 0 0 1024px;
        }
    }

    &__desc {
        box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.07);
        background-color: white;
        padding: 9px;
        max-width: 510px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: -30px;
        border-radius: 2px;
        min-height: 111px;

        .profile-img {
            position: absolute;
            border-radius: 61px;
            top: -58px;
            left: 26px;
            width: 100px;
            height: 100px;
            box-shadow: 0px 0px 7px -1px #000000;
            background-color: #ececec;

            img {
                border-radius: 61px;
            }
        }

        .card {
            &__username {
                margin-bottom: 7px;
                font-size: 20px;
            }
                        
           .card-header {
                padding: 0px 0 9px 141px;
                display: flex;
                align-items: center;
                gap: 10px;
                &__count {
                    font-weight: 600;
                    
                    span {
                        font-weight: 400;
                    }
                }

                &__btn {
                    margin-left: auto;
                }
            }
        }
    }
}

.setup-page.profile {
    .tab {
        margin: 15px auto;
        margin-top: 0;
    }
}