.timeline {
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .btn.more {
        width: auto;
        align-self: center;
    }

    .status-msg {
        align-self: center;
        font-size: 15px;
        font-weight: 500;
    }
}