.view-post {

    &__timeline {
        max-width: 510px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .more {
            margin-top: 15px;
            align-self: center;
        }
    }
    
    &__reply {
        display: flex;
        margin-top: 15px;
        
        &:not(:last-child) {
            .view-post__reply__line::before {
                content: "";
                display: block;
                border-left: 2px solid #acb3b7;
                width: 50%;
                position: absolute;
                height: calc(100% + 15px);
                left: 30.5px;
                top: -15px;
            }

            .view-post__reply__line::after {
                border-radius: 0px;
            }
        }

        &__line {
            position: relative;
            flex: 0 0 65px;

            &::before {
                content: "";
                display: block;
                border-left: 2px solid #acb3b7;
                width: 50%;
                position: absolute;
                height: 15px;
                left: 30.5px;
                top: -15px;
            }

            // Right angle
            &::after {
                content: "";
                width: 50%;
                height: 50%;
                display: block;
                float: right;
                border-left: 2px solid #acb3b7;
                border-bottom: 2px solid #acb3b7;
                border-bottom-left-radius: 4px;
            }
        }

        .post {
            flex: 1;
        }
    }
}